body{
    display: grid;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 5fr;
    grid-gap: 50px;
    background-color: #001233;
}

.grid-item{
    height: 100vh;
}

#nav{
    margin-top: 50px;
    position: fixed;
    width: 200px;
}

#list{
    text-align: right;
    list-style: none;
    font-size: 17px;
}

.nav-item{
    margin-top: 40px;
    margin-right: 8px;
    font-family: 'Bitter';
}

#hello{
    line-height: 50px;
    color: #CAC0B3;
    font-family: 'PT Sans Caption';
}

#header{
    height: 100px;
    margin-top: 140px;
    font-size: 30px;
    display: flex;
}
 
#grid-item2{
    display: flex;
    justify-content: center;
}

#grid-item3{
    padding-left: 50px;
    padding-bottom: 150px;
}

a{
    color: #CAC0B3;
    text-decoration: none;
}

a:hover{
    color: #FF595A;
}

#about{
    color: #FF595A;
    font-family: 'PT Sans Caption';
}

.musicBlurb{
    font-size: 15px;
    font-family: 'PT Sans Caption';
    color: #d9d9d9;
    margin-right: 10vw;
}

.container{
    margin-top: 20px;
    margin-right: 3vw;
    display: grid;
    max-width: 660px;
    height: 230px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.box{
    background-color: 001233;
    border: 0.1px solid rgb(255, 255, 255);
    margin: 2px;
    overflow: hidden;
}

#click{
    font-size: 18px;
    font-family: 'PT Sans Caption';
    color: rgb(210, 210, 210);
    margin-top: 0;
}

.pics{
    height: 100%;
    width: auto;
}

.title{
    color: #CAC0B3;
    font-family: 'Bitter';
    font-size: 24px;
    font-weight: 800;
}

#last{
    margin-bottom: 80px;
}

@media only screen and (max-width: 890px) {
    .container{
        height: 180px;
    }
}

@media only screen and (max-width: 650px) {
    .container{
        height: 130px;
    }
}