body{
    display: grid;
    justify-content: center;
    grid-template-columns: 0.2fr 1fr 5fr;
    grid-gap: 50px;
    background-color: #001233;
}

.grid-item{
    height: 100vh;
}

#nav{
    margin-top: 50px;
    position: fixed;
    width: 200px;
}

#list{
    text-align: right;
    list-style: none;
    font-size: 17px;
}

.nav-item{
    margin-top: 40px;
    margin-right: 8px;
    font-family: 'Bitter';
}

#hello{
    line-height: 50px;
    margin-right: 20px;
    color: #CAC0B3;
    font-family: 'PT Sans Caption';
}

#header{
    height: 100px;
    margin-top: 140px;
    margin-left: 50px;
    font-size: 30px;
    display: flex;
}

#period{
    line-height: 55px;
    margin-left: 8px;
}
 
#grid-item2{
    display: flex;
    justify-content: center;
}

#links-wrapper{
    height: auto;
    margin-top: 10px;
    padding-left: 105px;
    display: flex;
}

a{
    color: #CAC0B3;
    text-decoration: none;
}

a:hover{
    transition: 0.3s;
    color: #FF595A;
}

#home{
    color: #FF595A;
    font-family: 'PT Sans Caption';
}

#wrapper{
    max-width: 800px;
    margin-right: 10vw;
}

#blurb{
    padding-left: 50px;
    color: #CAC0B3;
    font-family: 'Bitter';
    font-size: 20px;
    font-weight: 800;
}

#here{
    color: #FF595A;
}

.heading{
    font-size: 25px;
    font-family: 'PT Sans Caption';
}

.lstitm{
    font-size: 16px;
}

.thisclass{
    list-style-type:circle;
}

.sliding {
	display: inline;
	text-indent: 8px;
    padding-left: 4px;
    color: #CAC0B3;
    font-family: 'Noto Sans TC';
    font-size: 23px;
    font-weight: 1000;
    margin: 0;
    line-height: 47px;
}
.sliding span{
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

#bottom{
    color: #CAC0B3;
    height: auto;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-family: 'PT Sans Caption';
    margin-top: 50px;
    margin-bottom: 10px;
    max-width: 800px;
}

.hamburger-menu{
    position: absolute;
    z-index: 99;
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: black;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  .menu__btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.7s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ffffff;
    transition-duration: .4s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #001233;
    font-family: 'Noto Sans TC';
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .4s;
  }
  .menu__item:hover {
    color: #FF595A;
  }

@media only screen and (max-width: 990px) {
    #hello{
        display: none;
    }
    body{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    #grid-item1{
        display: none;
    }
    #grid-item2{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
  }